In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

C:\Users\hp\anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.4)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [2]:
df = pd.read_csv("Churn_Modelling.csv")

In [3]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [5]:
df.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [6]:
x_columns = df.columns.tolist()[3:13]
y_columns = df.columns.tolist()[-1:]
print(x_columns)
print(y_columns)

['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary']
['Exited']

In [7]:
x = df[x_columns].values
y = df[y_columns].values
print("x = ", x)
print("y = ", y)

x =  [[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]
y =  [[1]
 [0]
 [1]
 ...
 [1]
 [1]
 [0]]

In [8]:
from sklearn.preprocessing import LabelEncoder
x_column_transformer = LabelEncoder()
x[:, 1] = x_column_transformer.fit_transform(x[:, 1])

In [9]:
x[:, 2] = x_column_transformer.fit_transform(x[:, 2])

In [10]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

pipeline = Pipeline(
    [
        ('Categorizer', ColumnTransformer(
            [
                ("Gender Label Encoder", OneHotEncoder(categories = 'auto', drop = 'first'), [2]),
                ("Geography Label Encoder", OneHotEncoder(categories = 'auto', drop = 'first'), [1])
            ], 
            remainder = 'passthrough', n_jobs = 1)),
        ('Normalizer', StandardScaler())
    ]
)

In [11]:
x = pipeline.fit_transform(x)

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [13]:
import tensorflow as tf

In [14]:
# pip install keras

In [15]:
# pip install tensorflow

In [16]:
# pip install --upgrade numpy

In [17]:
from keras.models import Sequential
from keras.layers import Dense, Dropout

In [18]:
classifier = Sequential()

In [19]:
classifier.add(Dense(6, activation = 'relu', input_shape = (X_train.shape[1], )))
classifier.add(Dropout(rate = 0.1))

In [20]:
classifier.add(Dense(6, activation = 'relu'))
classifier.add(Dropout(rate = 0.1))

In [21]:
classifier.add(Dense(1, activation = 'sigmoid'))

In [22]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 72

 dropout (Dropout)           (None, 6)                 0

 dense_1 (Dense)             (None, 6)                 42

 dropout_1 (Dropout)         (None, 6)                 0

 dense_2 (Dense)             (None, 1)                 7

=================================================================
Total params: 121 (484.00 Byte)
Trainable params: 121 (484.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [23]:
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [25]:
history = classifier.fit(X_train, y_train, batch_size = 32, epochs = 100, validation_split = 0.1, verbose = 2)

Epoch 1/100
225/225 - 1s - loss: 0.3983 - accuracy: 0.8415 - val_loss: 0.3568 - val_accuracy: 0.8612 - 570ms/epoch - 3ms/step
Epoch 2/100
225/225 - 1s - loss: 0.3941 - accuracy: 0.8440 - val_loss: 0.3554 - val_accuracy: 0.8612 - 571ms/epoch - 3ms/step
Epoch 3/100
225/225 - 1s - loss: 0.3942 - accuracy: 0.8453 - val_loss: 0.3537 - val_accuracy: 0.8575 - 580ms/epoch - 3ms/step
Epoch 4/100
225/225 - 1s - loss: 0.3923 - accuracy: 0.8492 - val_loss: 0.3526 - val_accuracy: 0.8662 - 592ms/epoch - 3ms/step
Epoch 5/100
225/225 - 1s - loss: 0.3920 - accuracy: 0.8458 - val_loss: 0.3500 - val_accuracy: 0.8675 - 603ms/epoch - 3ms/step
Epoch 6/100
225/225 - 1s - loss: 0.3929 - accuracy: 0.8440 - val_loss: 0.3498 - val_accuracy: 0.8662 - 684ms/epoch - 3ms/step
Epoch 7/100
225/225 - 1s - loss: 0.3904 - accuracy: 0.8456 - val_loss: 0.3487 - val_accuracy: 0.8650 - 607ms/epoch - 3ms/step
Epoch 8/100
225/225 - 1s - loss: 0.3879 - accuracy: 0.8479 - val_loss: 0.3488 - val_accuracy: 0.8625 - 598ms/epoch - 3ms/step
Epoch 9/100
225/225 - 1s - loss: 0.3930 - accuracy: 0.8443 - val_loss: 0.3479 - val_accuracy: 0.8625 - 536ms/epoch - 2ms/step
Epoch 10/100
225/225 - 1s - loss: 0.3908 - accuracy: 0.8469 - val_loss: 0.3485 - val_accuracy: 0.8637 - 564ms/epoch - 3ms/step
Epoch 11/100
225/225 - 1s - loss: 0.3921 - accuracy: 0.8435 - val_loss: 0.3472 - val_accuracy: 0.8625 - 607ms/epoch - 3ms/step
Epoch 12/100
225/225 - 1s - loss: 0.3931 - accuracy: 0.8486 - val_loss: 0.3480 - val_accuracy: 0.8637 - 589ms/epoch - 3ms/step
Epoch 13/100
225/225 - 1s - loss: 0.3874 - accuracy: 0.8464 - val_loss: 0.3476 - val_accuracy: 0.8600 - 583ms/epoch - 3ms/step
Epoch 14/100
225/225 - 1s - loss: 0.3884 - accuracy: 0.8494 - val_loss: 0.3472 - val_accuracy: 0.8612 - 579ms/epoch - 3ms/step
Epoch 15/100
225/225 - 1s - loss: 0.3848 - accuracy: 0.8471 - val_loss: 0.3451 - val_accuracy: 0.8612 - 578ms/epoch - 3ms/step
Epoch 16/100
225/225 - 1s - loss: 0.3878 - accuracy: 0.8481 - val_loss: 0.3455 - val_accuracy: 0.8637 - 606ms/epoch - 3ms/step
Epoch 17/100
225/225 - 1s - loss: 0.3891 - accuracy: 0.8487 - val_loss: 0.3442 - val_accuracy: 0.8637 - 593ms/epoch - 3ms/step
Epoch 18/100
225/225 - 1s - loss: 0.3881 - accuracy: 0.8500 - val_loss: 0.3448 - val_accuracy: 0.8650 - 580ms/epoch - 3ms/step
Epoch 19/100
225/225 - 1s - loss: 0.3842 - accuracy: 0.8446 - val_loss: 0.3441 - val_accuracy: 0.8675 - 568ms/epoch - 3ms/step
Epoch 20/100
225/225 - 1s - loss: 0.3878 - accuracy: 0.8481 - val_loss: 0.3436 - val_accuracy: 0.8675 - 575ms/epoch - 3ms/step
Epoch 21/100
225/225 - 1s - loss: 0.3826 - accuracy: 0.8490 - val_loss: 0.3427 - val_accuracy: 0.8712 - 583ms/epoch - 3ms/step
Epoch 22/100
225/225 - 1s - loss: 0.3814 - accuracy: 0.8476 - val_loss: 0.3409 - val_accuracy: 0.8700 - 573ms/epoch - 3ms/step
Epoch 23/100
225/225 - 1s - loss: 0.3847 - accuracy: 0.8464 - val_loss: 0.3411 - val_accuracy: 0.8662 - 583ms/epoch - 3ms/step
Epoch 24/100
225/225 - 1s - loss: 0.3842 - accuracy: 0.8489 - val_loss: 0.3408 - val_accuracy: 0.8662 - 578ms/epoch - 3ms/step
Epoch 25/100
225/225 - 1s - loss: 0.3833 - accuracy: 0.8475 - val_loss: 0.3420 - val_accuracy: 0.8675 - 612ms/epoch - 3ms/step
Epoch 26/100
225/225 - 1s - loss: 0.3832 - accuracy: 0.8478 - val_loss: 0.3400 - val_accuracy: 0.8687 - 599ms/epoch - 3ms/step
Epoch 27/100
225/225 - 1s - loss: 0.3898 - accuracy: 0.8460 - val_loss: 0.3400 - val_accuracy: 0.8687 - 579ms/epoch - 3ms/step
Epoch 28/100
225/225 - 1s - loss: 0.3818 - accuracy: 0.8512 - val_loss: 0.3393 - val_accuracy: 0.8700 - 591ms/epoch - 3ms/step
Epoch 29/100
225/225 - 1s - loss: 0.3770 - accuracy: 0.8504 - val_loss: 0.3378 - val_accuracy: 0.8662 - 644ms/epoch - 3ms/step
Epoch 30/100
225/225 - 1s - loss: 0.3778 - accuracy: 0.8506 - val_loss: 0.3370 - val_accuracy: 0.8750 - 619ms/epoch - 3ms/step
Epoch 31/100
225/225 - 1s - loss: 0.3789 - accuracy: 0.8526 - val_loss: 0.3378 - val_accuracy: 0.8737 - 590ms/epoch - 3ms/step
Epoch 32/100
225/225 - 1s - loss: 0.3815 - accuracy: 0.8493 - val_loss: 0.3379 - val_accuracy: 0.8700 - 571ms/epoch - 3ms/step
Epoch 33/100
225/225 - 1s - loss: 0.3797 - accuracy: 0.8540 - val_loss: 0.3370 - val_accuracy: 0.8737 - 593ms/epoch - 3ms/step
Epoch 34/100
225/225 - 1s - loss: 0.3744 - accuracy: 0.8481 - val_loss: 0.3345 - val_accuracy: 0.8750 - 586ms/epoch - 3ms/step
Epoch 35/100
225/225 - 1s - loss: 0.3785 - accuracy: 0.8492 - val_loss: 0.3338 - val_accuracy: 0.8737 - 574ms/epoch - 3ms/step
Epoch 36/100
225/225 - 1s - loss: 0.3764 - accuracy: 0.8476 - val_loss: 0.3328 - val_accuracy: 0.8750 - 592ms/epoch - 3ms/step
Epoch 37/100
225/225 - 1s - loss: 0.3766 - accuracy: 0.8460 - val_loss: 0.3324 - val_accuracy: 0.8775 - 582ms/epoch - 3ms/step
Epoch 38/100
225/225 - 1s - loss: 0.3719 - accuracy: 0.8460 - val_loss: 0.3324 - val_accuracy: 0.8687 - 571ms/epoch - 3ms/step
Epoch 39/100
225/225 - 1s - loss: 0.3777 - accuracy: 0.8425 - val_loss: 0.3328 - val_accuracy: 0.8700 - 565ms/epoch - 3ms/step
Epoch 40/100
225/225 - 1s - loss: 0.3717 - accuracy: 0.8464 - val_loss: 0.3314 - val_accuracy: 0.8737 - 591ms/epoch - 3ms/step
Epoch 41/100
225/225 - 1s - loss: 0.3702 - accuracy: 0.8492 - val_loss: 0.3309 - val_accuracy: 0.8763 - 582ms/epoch - 3ms/step
Epoch 42/100
225/225 - 1s - loss: 0.3719 - accuracy: 0.8460 - val_loss: 0.3324 - val_accuracy: 0.8725 - 584ms/epoch - 3ms/step
Epoch 43/100
225/225 - 1s - loss: 0.3774 - accuracy: 0.8468 - val_loss: 0.3340 - val_accuracy: 0.8750 - 602ms/epoch - 3ms/step
Epoch 44/100
225/225 - 1s - loss: 0.3779 - accuracy: 0.8439 - val_loss: 0.3344 - val_accuracy: 0.8725 - 576ms/epoch - 3ms/step
Epoch 45/100
225/225 - 1s - loss: 0.3755 - accuracy: 0.8481 - val_loss: 0.3340 - val_accuracy: 0.8737 - 568ms/epoch - 3ms/step
Epoch 46/100
225/225 - 1s - loss: 0.3732 - accuracy: 0.8436 - val_loss: 0.3328 - val_accuracy: 0.8750 - 580ms/epoch - 3ms/step
Epoch 47/100
225/225 - 1s - loss: 0.3684 - accuracy: 0.8479 - val_loss: 0.3307 - val_accuracy: 0.8725 - 590ms/epoch - 3ms/step
Epoch 48/100
225/225 - 1s - loss: 0.3692 - accuracy: 0.8493 - val_loss: 0.3310 - val_accuracy: 0.8763 - 613ms/epoch - 3ms/step
Epoch 49/100
225/225 - 1s - loss: 0.3680 - accuracy: 0.8453 - val_loss: 0.3320 - val_accuracy: 0.8712 - 587ms/epoch - 3ms/step
Epoch 50/100
225/225 - 0s - loss: 0.3687 - accuracy: 0.8489 - val_loss: 0.3322 - val_accuracy: 0.8737 - 437ms/epoch - 2ms/step
Epoch 51/100
225/225 - 1s - loss: 0.3673 - accuracy: 0.8479 - val_loss: 0.3315 - val_accuracy: 0.8763 - 602ms/epoch - 3ms/step
Epoch 52/100
225/225 - 1s - loss: 0.3715 - accuracy: 0.8486 - val_loss: 0.3330 - val_accuracy: 0.8763 - 603ms/epoch - 3ms/step
Epoch 53/100
225/225 - 1s - loss: 0.3647 - accuracy: 0.8453 - val_loss: 0.3314 - val_accuracy: 0.8750 - 626ms/epoch - 3ms/step
Epoch 54/100
225/225 - 1s - loss: 0.3705 - accuracy: 0.8447 - val_loss: 0.3321 - val_accuracy: 0.8763 - 582ms/epoch - 3ms/step
Epoch 55/100
225/225 - 1s - loss: 0.3666 - accuracy: 0.8487 - val_loss: 0.3313 - val_accuracy: 0.8750 - 599ms/epoch - 3ms/step
Epoch 56/100
225/225 - 1s - loss: 0.3736 - accuracy: 0.8476 - val_loss: 0.3324 - val_accuracy: 0.8775 - 614ms/epoch - 3ms/step
Epoch 57/100
225/225 - 0s - loss: 0.3678 - accuracy: 0.8503 - val_loss: 0.3315 - val_accuracy: 0.8737 - 385ms/epoch - 2ms/step
Epoch 58/100
225/225 - 1s - loss: 0.3706 - accuracy: 0.8443 - val_loss: 0.3320 - val_accuracy: 0.8725 - 504ms/epoch - 2ms/step
Epoch 59/100
225/225 - 1s - loss: 0.3716 - accuracy: 0.8440 - val_loss: 0.3327 - val_accuracy: 0.8687 - 580ms/epoch - 3ms/step
Epoch 60/100
225/225 - 1s - loss: 0.3709 - accuracy: 0.8454 - val_loss: 0.3327 - val_accuracy: 0.8737 - 582ms/epoch - 3ms/step
Epoch 61/100
225/225 - 1s - loss: 0.3720 - accuracy: 0.8465 - val_loss: 0.3320 - val_accuracy: 0.8775 - 590ms/epoch - 3ms/step
Epoch 62/100
225/225 - 1s - loss: 0.3687 - accuracy: 0.8444 - val_loss: 0.3307 - val_accuracy: 0.8737 - 606ms/epoch - 3ms/step
Epoch 63/100
225/225 - 1s - loss: 0.3736 - accuracy: 0.8435 - val_loss: 0.3317 - val_accuracy: 0.8737 - 577ms/epoch - 3ms/step
Epoch 64/100
225/225 - 1s - loss: 0.3747 - accuracy: 0.8413 - val_loss: 0.3318 - val_accuracy: 0.8737 - 585ms/epoch - 3ms/step
Epoch 65/100
225/225 - 1s - loss: 0.3703 - accuracy: 0.8447 - val_loss: 0.3309 - val_accuracy: 0.8775 - 600ms/epoch - 3ms/step
Epoch 66/100
225/225 - 1s - loss: 0.3732 - accuracy: 0.8435 - val_loss: 0.3326 - val_accuracy: 0.8800 - 599ms/epoch - 3ms/step
Epoch 67/100
225/225 - 1s - loss: 0.3715 - accuracy: 0.8469 - val_loss: 0.3323 - val_accuracy: 0.8763 - 591ms/epoch - 3ms/step
Epoch 68/100
225/225 - 1s - loss: 0.3691 - accuracy: 0.8453 - val_loss: 0.3300 - val_accuracy: 0.8775 - 606ms/epoch - 3ms/step
Epoch 69/100
225/225 - 1s - loss: 0.3694 - accuracy: 0.8493 - val_loss: 0.3295 - val_accuracy: 0.8813 - 577ms/epoch - 3ms/step
Epoch 70/100
225/225 - 1s - loss: 0.3700 - accuracy: 0.8460 - val_loss: 0.3303 - val_accuracy: 0.8763 - 583ms/epoch - 3ms/step
Epoch 71/100
225/225 - 1s - loss: 0.3716 - accuracy: 0.8468 - val_loss: 0.3299 - val_accuracy: 0.8763 - 579ms/epoch - 3ms/step
Epoch 72/100
225/225 - 1s - loss: 0.3727 - accuracy: 0.8464 - val_loss: 0.3311 - val_accuracy: 0.8825 - 542ms/epoch - 2ms/step
Epoch 73/100
225/225 - 1s - loss: 0.3620 - accuracy: 0.8489 - val_loss: 0.3286 - val_accuracy: 0.8775 - 576ms/epoch - 3ms/step
Epoch 74/100
225/225 - 1s - loss: 0.3697 - accuracy: 0.8451 - val_loss: 0.3301 - val_accuracy: 0.8775 - 581ms/epoch - 3ms/step
Epoch 75/100
225/225 - 1s - loss: 0.3687 - accuracy: 0.8461 - val_loss: 0.3303 - val_accuracy: 0.8775 - 575ms/epoch - 3ms/step
Epoch 76/100
225/225 - 1s - loss: 0.3666 - accuracy: 0.8468 - val_loss: 0.3299 - val_accuracy: 0.8750 - 568ms/epoch - 3ms/step
Epoch 77/100
225/225 - 1s - loss: 0.3730 - accuracy: 0.8443 - val_loss: 0.3319 - val_accuracy: 0.8763 - 574ms/epoch - 3ms/step
Epoch 78/100
225/225 - 1s - loss: 0.3699 - accuracy: 0.8431 - val_loss: 0.3313 - val_accuracy: 0.8750 - 563ms/epoch - 3ms/step
Epoch 79/100
225/225 - 1s - loss: 0.3681 - accuracy: 0.8483 - val_loss: 0.3319 - val_accuracy: 0.8763 - 579ms/epoch - 3ms/step
Epoch 80/100
225/225 - 1s - loss: 0.3679 - accuracy: 0.8449 - val_loss: 0.3303 - val_accuracy: 0.8750 - 594ms/epoch - 3ms/step
Epoch 81/100
225/225 - 1s - loss: 0.3631 - accuracy: 0.8492 - val_loss: 0.3294 - val_accuracy: 0.8763 - 752ms/epoch - 3ms/step
Epoch 82/100
225/225 - 1s - loss: 0.3671 - accuracy: 0.8467 - val_loss: 0.3305 - val_accuracy: 0.8750 - 589ms/epoch - 3ms/step
Epoch 83/100
225/225 - 1s - loss: 0.3672 - accuracy: 0.8482 - val_loss: 0.3298 - val_accuracy: 0.8763 - 572ms/epoch - 3ms/step
Epoch 84/100
225/225 - 1s - loss: 0.3656 - accuracy: 0.8478 - val_loss: 0.3296 - val_accuracy: 0.8763 - 578ms/epoch - 3ms/step
Epoch 85/100
225/225 - 1s - loss: 0.3621 - accuracy: 0.8535 - val_loss: 0.3301 - val_accuracy: 0.8750 - 586ms/epoch - 3ms/step
Epoch 86/100
225/225 - 1s - loss: 0.3693 - accuracy: 0.8456 - val_loss: 0.3314 - val_accuracy: 0.8775 - 573ms/epoch - 3ms/step
Epoch 87/100
225/225 - 1s - loss: 0.3639 - accuracy: 0.8490 - val_loss: 0.3302 - val_accuracy: 0.8737 - 564ms/epoch - 3ms/step
Epoch 88/100
225/225 - 1s - loss: 0.3705 - accuracy: 0.8464 - val_loss: 0.3319 - val_accuracy: 0.8788 - 570ms/epoch - 3ms/step
Epoch 89/100
225/225 - 1s - loss: 0.3730 - accuracy: 0.8432 - val_loss: 0.3310 - val_accuracy: 0.8800 - 576ms/epoch - 3ms/step
Epoch 90/100
225/225 - 1s - loss: 0.3684 - accuracy: 0.8474 - val_loss: 0.3294 - val_accuracy: 0.8763 - 599ms/epoch - 3ms/step
Epoch 91/100
225/225 - 1s - loss: 0.3700 - accuracy: 0.8456 - val_loss: 0.3327 - val_accuracy: 0.8763 - 593ms/epoch - 3ms/step
Epoch 92/100
225/225 - 1s - loss: 0.3704 - accuracy: 0.8464 - val_loss: 0.3316 - val_accuracy: 0.8750 - 613ms/epoch - 3ms/step
Epoch 93/100
225/225 - 1s - loss: 0.3649 - accuracy: 0.8506 - val_loss: 0.3298 - val_accuracy: 0.8800 - 576ms/epoch - 3ms/step
Epoch 94/100
225/225 - 1s - loss: 0.3692 - accuracy: 0.8451 - val_loss: 0.3295 - val_accuracy: 0.8775 - 568ms/epoch - 3ms/step
Epoch 95/100
225/225 - 1s - loss: 0.3644 - accuracy: 0.8501 - val_loss: 0.3282 - val_accuracy: 0.8788 - 578ms/epoch - 3ms/step
Epoch 96/100
225/225 - 1s - loss: 0.3719 - accuracy: 0.8457 - val_loss: 0.3329 - val_accuracy: 0.8788 - 599ms/epoch - 3ms/step
Epoch 97/100
225/225 - 1s - loss: 0.3649 - accuracy: 0.8454 - val_loss: 0.3302 - val_accuracy: 0.8775 - 592ms/epoch - 3ms/step
Epoch 98/100
225/225 - 1s - loss: 0.3651 - accuracy: 0.8522 - val_loss: 0.3286 - val_accuracy: 0.8775 - 579ms/epoch - 3ms/step
Epoch 99/100
225/225 - 1s - loss: 0.3658 - accuracy: 0.8460 - val_loss: 0.3296 - val_accuracy: 0.8775 - 578ms/epoch - 3ms/step
Epoch 100/100
225/225 - 1s - loss: 0.3718 - accuracy: 0.8475 - val_loss: 0.3304 - val_accuracy: 0.8750 - 573ms/epoch - 3ms/step

In [26]:
y_pred = classifier.predict(X_test)
print(y_pred[:5])

63/63 [==============================] - 0s 2ms/step
[[0.23524319]
 [0.28624055]
 [0.14680599]
 [0.06220995]
 [0.15009077]]

In [27]:
y_pred = (y_pred > 0.5).astype(int)
print(y_pred[:5])

[[0]
 [0]
 [0]
 [0]
 [0]]

In [28]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[1526   69]
 [ 196  209]]

In [29]:
print(((cm[0][0] + cm[1][1])* 100) / len(y_test), '% of data was classified correctly')

86.75 % of data was classified correctly